#####################################################################
# cpp/d
#####################################################################

*.o
*.obj
*.so
*.a
*.bin
*.bc

#####################################################################
# archives
#####################################################################

*.tar
*.rar
*.zip
*.bz2
*.gz
*.tgz

*.deb

#####################################################################
# Texts
#####################################################################

*.log
*.txt
*.csv
*.csv#
*.ods
*.ods#
*.json
*.ini
*.html


#####################################################################
# Images
#####################################################################

*.png
*.jpg
*.jpeg
*.svg

#####################################################################
# Other
#####################################################################

~*
*~
*~*
*.lock
.dub

data/*
db/*


# macOS
.DS_Store

